#about {
  height: 100vh;
}

.wala-pic {
  background-image: url("./images/wala.jpeg");
  width: 300px;
  height: 300px;
  margin: 0 auto;
  margin-top: 2%;
  border-radius: 100px;
}

.title {
  display: flex;
  justify-content: center;
  h1 {
    font-size: 75px;
  }
}

.bio {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #957DAD;
  border-radius: 30px;
  margin:2%;
  font-family: 'Yuji Syuku', serif;
  P {
    font-size: 20px;
    color: white;
  }
}