#skills {
  // height: 100vh;
  // border: 1px solid black;
  .title {
    h1{
      font-size: 75px;
    display: flex;
    justify-content: start;
    margin:5%;
    color: #957DAD;
    }
  }
  .bullet-list {
    border: 1px #957DAD solid;
    background-color: white;
    flex-wrap: wrap;
    border-radius: 50px;
    padding: 5%;
    i {
      font-size: 150px;
      color: #957DAD;
      margin: 10px;
      transition: 0.4s ease-in-out;
      &:hover {
      transform: scale(2);
      cursor: pointer;
    }
  }
  h1{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top:30%;
  }
}

.hide {
  display: none;
  color: #957DAD;
  text-align: center;
  border: 1px solid #957DAD;
  border-radius: 50px;
  font-family: 'Shrikhand', cursive;

}

.reveal:hover + .hide {
  display: block;
  cursor: pointer;
}
}