html {
  scroll-behavior: smooth;
}

.navbar{
  height: 10vh;
  background-color: #957DAD;
  // border: 1px rgba(91, 190, 152) solid;
  .links {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: -webkit-fill-available;
    .name {
      a {
        // color: #A2A2E0;
        color: white;
        font-size: 40px;
        font-family: 'Abril Fatface', cursive;
        &:hover {
          transform: scale(1.1);
          cursor: pointer;
          border-radius: 10px;
          color: white;
          text-decoration: underline;
        }
      }
    }
    .nav {
    a {
      text-decoration: none;
      width: 200px;
      text-align: center;
      border: 1px solid white;
      border-radius: 10px;
      background-color: rgba(0,0,0,0);
      color: white;
      font-size: 25px;
      margin-top: 1%;
      margin: 5px;
      padding: 1%;
      font-family: 'Abril Fatface';
      transition: 0.4s ease-in-out;
      &:hover {
        transform: scale(1.1);
        cursor: pointer;
        // color: #A2A2E0;
        // border:1px solid #A2A2E0;
        // border-radius: 10px;
        // color: #FFDFD3;
      }
    }
    }
  }
}



