html {
  scroll-behavior: smooth;
}

.navbar{
  height: 10vh;
  background-color: rgba(91, 190, 152, 0.2);
  border: 1px rgba(91, 190, 152) solid;
  .links {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: -webkit-fill-available;
    .name {
      a {
        color: rgba(91, 190, 152);
        font-size: 40px;
        font-family: 'Molle', cursive;
        &:hover {
          transform: scale(1.1);
          cursor: pointer;
          border-radius: 10px;
          color: white;
        }
      }
    }
    .nav {
    a {
      text-decoration: none;
      width: 200px;
      text-align: center;
      background-color: rgba(0,0,0,0);
      color: rgba(91, 190, 152);
      font-size: 25px;
      margin-top: 1%;
      margin: 5px;
      padding: 1%;
      font-family: 'Molle';
      box-shadow: lightblue;
      transition: 0.4s ease-in-out;
      &:hover {
        transform: scale(1.1);
        cursor: pointer;
        background-color: rgba(91, 190, 152);
        border-radius: 10px;
        color: white;
      }
    }
    }
  }
}



