#skills {
  // height: 100vh;
  // border: 1px solid black;
  .title {
    h1{
      font-size: 100px;
    display: flex;
    justify-content: start;
    margin:5%;
    color: #957DAD;
    }
  }
  .bullet-list {
    // border: 1px #957DAD solid;
    background-color: white;
    border-radius: 10px;
    flex-wrap: wrap;
    border-radius: 10px;
    i {
      font-size: 200px;
      color: #957DAD;
      margin: 10px;
      transition: 0.4s ease-in-out;
    }
  }
  h1{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top:30%;
  }
}